<p><span class="fw-bold">You: </span><%= @question %></p>
<p><span class="fw-bold">Coach: </span><%= @answer %> <%= @emoji %></p>

<hr>
<p><%= link_to "Ask another one", "/ask", class: "btn btn-dark text-decoration-none fw-bold" %></p>
