<p class="mb-5 px-2 fs-5">Enter a question below to get sage advice from your coach...</p>
<form action="answer" data-turbo="false" class="px-2">
  <input type="text" name="question">
  <input type="submit" value="Ask!">
</form>
